/* Navigation for about and contact page only */

@media (min-width: 0px) {
  
    #menu-icon{
        margin-left: auto;
    }

    nav input {
    
        display: none;
    
    }    

}

@media (min-width: 599px) {
   nav h1{
    font-size: 1.2rem;
   }

    nav a{
        font-size: 0.92rem; 
    }
    #anchor-container{
        margin-right: 20px;

     }

}
