/* Mobile First Design */
html, body{
   height: 100%;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: rgb(255, 255, 255);
  
}
nav {
    background-color: rgb(33, 26, 26);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 1.2rem;
    margin-left: 0.1em;
}

#nav-background{
    color: black;
    background-color: black;
    z-index: 2 !important;
}

nav a {

    text-decoration: none;
    display: none;

}

nav a:hover {
    text-decoration: underline;
}


nav input {
    background-color: white;
    padding: 10px;
    width: 156px;
    border-radius: 20px;
    margin-left: 30px;
    height: 25px
}

nav input::placeholder {
    color: rgb(2, 112, 129);
    font-size: 8px;
    
}

#menu-icon {
    position: relative;
    height: 23px;
    width: auto;
    right: 4px;
    bottom: 3px;
    cursor: pointer;
}

#search-icon {
    height: 15px;
    width: auto;
    position: relative;
    right: 22px;
    bottom: 2px;
}

.search-clear button {
    font-size: 10px;
    position: relative;
    left: 21px;
    color: white;
    background-color: rgb(2, 112, 129);
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
}

.search-clear {
    position: relative;
    float: inline-end;
    margin-right: 25px;
    background-color: rgb(33, 26, 26);
    height: 30px;
    width: 160px;
    border-radius: 20px;
    right: 20px;
    display: none;
 
}

#background-img{
    background-image: url("/travel-Recommendation-App/Images/nyc.png");
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* Use viewport height */
    width: 100vw;  /* Use viewport  width */

}
#background-img::before {
    content: '';
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 95%;
    background: linear-gradient(to right, rgba(2, 112, 129, 0.7), rgba(2, 112, 129, 0));

}

.Introduction {
    margin-top: 50px;
 
    
}

.Introduction img{
    position: relative;
    height: 180px;
    width: 30px;
    display: block;
}

.Introduction h1{
  font-size: 1.7rem;
  
}

.Introduction p{
font-size: 0.8rem;
width: 60%;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.Introduction button{
    color: white;
    background-color: rgb(2, 112, 129);
    border: none;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 5px 15px;
}

.Introduction h1, .Introduction p, .Introduction button{
    position: relative;
    margin-left: 50px;
    margin-bottom: 55px;
    bottom: 80px;
}

#X, #Instagram, #facebook, #Youtube{
    position: relative;
    display: block;
    height: 38px;
    width: 21px;
    margin-top: 10px;
    bottom: 340px;
    left: 10px;
}

