/* Mobile First Design */
html,
body {
    height: 100%;
    color: rgb(255, 255, 255);
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
}


.nav {

    background-color: rgb(33, 26, 26);
    padding: 8px;
    display: flex;
    align-items: center;
    
    /*  specifies a transition effect with a slow start and end */
}

.nav2 {

    background-color: rgb(22, 126, 142);
    height: 100%;
    transition: all 0.7s ease-in-out;
}

nav #icon {
    height: 35px;
    width: auto;

}

nav h1 {
    font-size: 1.1rem;
    margin-left: 0.3em;
}


nav a {

    text-decoration: none;
    display: none;

}

nav a.active {
   
    font-size: 1.1rem;
    top: 100px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin-bottom: 30px;
    color: white;

}


nav a:hover {
    text-decoration: underline;
}


nav input {
  
    left: 18px;
    background-color: white;
    padding: 10px;
    width: 156px;
    border-radius: 20px;
    margin-left: auto;
    height: 25px   
    

}

nav input::placeholder {  
    color: rgb(2, 112, 129);
    font-size: 8px;

}
/* style the placeholder attribute */
#menu-icon {
    
    height: 23px;
    width: auto;
    right: 4px;
    bottom: 3px;
    cursor: pointer;
    margin-left: auto;

}


#close-icon {
    /*Keep in mind that the styles defined for the :active state are applied on top of the existing styles for the HTML element. */
    display: none;
    /* The styles from the active state also have higher precedence over the regular styles */
}

#close-icon.active {
  
    height: 28px;
    width: auto;
    float: inline-end;
    cursor: pointer;
    bottom: 140px;
    right: 15px;


}

#search-icon {
    height: 15px;
    width: auto;
    right: 4px;
    bottom: 2px;

}

.search-clear button {
    font-size: 10px;
    left: 21px;
    color: white;
    background-color: rgb(2, 112, 129);
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
}

.search-clear {
    float: inline-end;
    margin-right: 25px;
    background-color: rgb(33, 26, 26);
    height: 30px;
    width: 160px;
    border-radius: 20px;
    right: 20px;
    display: none;

}

#search-result {
    position: absolute;
    width: 180px;
    color: black;
    top: 70px;
    left: 180px;
    z-index: 4;
}

#search-result::-webkit-scrollbar {
  width: 8px;
}

#search-result::-webkit-scrollbar-track {
    
    background-color: transparent; /* Background of the scrollbar track */
}

#search-result::-webkit-scrollbar-thumb {
    background: rgba(56, 53, 53, 0.5); /* Color of the scrollbar thumb */
    border-radius: 15px; /* Rounded corners for the scrollbar thumb */;

}


.date{
    display: flex;
    height: 30px;
    background-color: rgb(2, 112, 129);
    border-radius: 6px;
    margin-bottom: 7px;
    color: white;
    font-size: 0.649rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
}

#result {
    
    background-color: white;
    border-radius: 10px;
    text-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;   
}

#result img {
    height: 100px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#result button {
    color: white;
    background-color: rgb(2, 112, 129);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 0.7rem;
    cursor: pointer;
}

#result h3 {
    margin-top: 5px;
    font-size: 0.9rem;
}

#result p {
    font-size: 0.7rem;
    color: rgb(160, 160, 160);

}

#result h3,
#result p,
#result button {
    margin-left: 10px;
    margin-bottom: 10px;

}

#error{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#error ul{
    margin-top: 10px;
    max-height: 100%;
}

#background-img {
    background-image: url("/travel-Recommendation-App/Images/nyc.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180vh;
    /* Use viewport height */
     z-index: 1;
}

#background-img::before {
    content: '';
    position: absolute;  /* Absolute positioned elements are removed from the normal flow */
    width: 100%;
    height: 100%;
    background: var(--before-background, linear-gradient(to right, rgba(2, 112, 129, 0.7), rgba(2, 112, 129, 0)));
    /*  using custom properties (CSS variables)  */
    z-index: 2;
}


.Introduction {
    margin-top: 50px;
}

.Introduction img, .about-page img{
    height: 180px;
    width: 30px;
    display: block;

}

.Introduction h1 {
    font-size: 1.7rem;

}

.Introduction p {
    font-size: 0.8rem;
    width: 60%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

.Introduction button {
    color: white;
    background-color: rgb(2, 112, 129);
    border: none;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 5px 15px;
    cursor: pointer;
}

.Introduction h1,
.Introduction p,
.Introduction button {
 
    margin-left: 50px;
    margin-bottom: 55px;
    bottom: 80px;
}

/* #icons{
    position:fixed;
  
    left: 10px;

   
} */

#X,
#Instagram,
#facebook,
#Youtube {
  
    display: block;
    height: 38px;
    width: 21px;
    margin-top: 10px;
    cursor: pointer;
    left: 10px;
}

.about-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 

}

.about-page h1{
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-us-container{

    background-color: rgba(19, 18, 18, 0.4);
    width: 90%;
    padding: 15px;
}

.about-us-container p{
    margin-top: 15px;
    font-family:'Times New Roman', Times, serif 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    bottom: 10px;
}

.team-container{
    background-color: rgba(19, 18, 18, 0.4);
    width: 90%;
    margin-bottom: 20px;
    padding: 15px;

}

.team-container h4, .team-container p{
    text-align: left;
    margin-top: 2px;
}

.team-container p{
   color:rgba(176, 174, 174, 1);
}

.team-container button{
    margin-top: 10px;
    background-color: rgb(29, 95, 237);
    padding: 2px 30px;
    font-size: 0.7rem;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    box-shadow: none;
    font-weight: 600;
    border-color: rgba(19, 85, 160, 0.493)
   
}

#company-history{
    background-color: rgba(19, 18, 18, 0.4);
    width: 90%;
    margin-bottom: 20px;
    padding: 15px;
}