* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgb(33, 26, 26);
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
   
 
}

nav a,
nav h1,
nav button,
nav input {
    
    justify-content: space-around;
} 

nav a {
    
    text-decoration: none;
    color: white;

}

nav a:hover {
    text-decoration: underline;
}

nav input,
nav button {
    justify-content:flex-end;
    margin-right: 20px;
}